.kcdc {
  display: none;
}

.kcdc-active {
  display: block !important;
  position: fixed;
  z-index: 9999;
  border: solid 1px orange;
  bottom: 0px;
  right: 0px;
  padding: 8px;
  background-color: white;
}
